---
---

{% include homepageHeader.html %}
<br>
<article class="center">
    <h2>$(whoami):</h2>
    <p>I spend most of my time on programming, cybersecurity, and networking.</p>
    <p>Feel free to use and contribute to any of the projects I have available on GitHub.</p>
    <p>My email is open to anyone. Feel free to reach out for any reason, especially if you want to discuss my GitHub projects.</p>
    <p><i>Employers: <br />Im glad you have decided to visit my page! If you arrived here from my application, please use the email I have provided you rather the one here.</i></p>
</article>
<br>
{% include homepageFooter.html %}