---
---

{% include homepageHeader.html %}
        <article class="center">
            <h2>Projects:</h2>
            <p>You can find projects I have worked on by visiting <a href="https://github.com/glob-bruh?tab=repositories&type=source">my profile</a>.</p>
            <div class="projFeature">
                <h3>Personal Homelab:</h3>
                <button onclick="window.location.href = './blog/HomelabWriteup/'">Blog page</button>
                <p>Webpage outlining my personal homelab setup.</p>
            </div>
            <div class="projFeature">
                <h3>OBD-II Python Library:</h3>
                <img src="https://raw.githubusercontent.com/glob-bruh/OBDIITerm/main/logo.png"><br />
                <button onclick="window.location.href = 'https://github.com/glob-bruh/OBDIITerm'">GitHub page</button>
                <p>Python library designed to streamline development for other automotive diagnostic tools. This library utilizes the CAN protocol that is widely used in automobiles.</p>
            </div>
            <div class="projFeature">
                <h3>CrossJoin (As Maintainer):</h3>
                <img src="https://cdn.discordapp.com/avatars/1311647687698944020/393c8f415d82619aa6aa703df266f38f.webp"><br />
                <button onclick="window.location.href = 'https://github.com/SouthAlbertaAI/CrossJoin-AESO'">GitHub page</button>
                <p>Discord bot designed to monitor and post information from the Alberta Electric System Operator (AESO) and Alberta 511.</p>
            </div>
            <div class="projFeature">
                <br />
                <img id="aoscsLogo" src="https://raw.githubusercontent.com/glob-bruh/AOSCS/main/aoscsLogo.png"><br /><br />
                <button onclick="window.location.href = 'https://glob-bruh.github.io/AOSCS/'">Visit Webpage</button>
                <button onclick="window.location.href = 'https://github.com/glob-bruh/AOSCS'">Project page</button>
                <p>IN DEVELOPMENT</p>
                <p>Advanced Open-Source Certification System.</p>
                <p>An successor to both TIGRS and OGRS, and also being compatible with FreeDesktop AppStream, the AOSCS is the "be-all-end-all" solution to independent rating and certification services.</p>
            </div>
            <div class="projFeature">
                <h3>EmbedTube:</h3>
                <img src="https://raw.githubusercontent.com/glob-bruh/EmbedTube/main/src/icons/50.png"><br />
                <button onclick="window.location.href = 'https://github.com/glob-bruh/EmbedTube'">GitHub page</button>
                <p>Browser extension designed to replace the built-in YouTube video player with embedded versions.</p>
            </div>
            <div class="projFeature">
                <h3>NoQuoraLogin:</h3>
                <img src="https://raw.githubusercontent.com/glob-bruh/NoQuoraLogin/main/logo.png"><br />
                <button onclick="window.location.href = 'https://github.com/glob-bruh/NoQuoraLogin'">GitHub page</button>
                <p>UserScript that allows users visiting Quora to circumvent requests to login and use features that would normally require a account.</p>
            </div>
            <div class="projFeature">
                <h3>GABS - GlobBruh Automated Backup System:</h3>
                <button onclick="window.location.href = 'https://github.com/glob-bruh/GBAutoBackupSystem'">GitHub page</button>
                <p>Linux script designed to automatically replicate contents from one drive to another. Its intended use is to have data replication without the use of RAID.</p>
            </div>
            <div class="projFeature">
                <h3>Lost Media Wiki Retheme:</h3>
                <button onclick="window.location.href = 'https://github.com/glob-bruh/LostMediaWikiRetheme'">GitHub page</button>
                <p>UserScript that adaptively changes how pages look on the Lost Media Wiki based on what categories they have been assigned. This is achieved by injecting CSS pages from an external source.</p>
            </div>
            <p id="center"><i>
                <a href="https://github.com/glob-bruh/GlobbruhWebsites">More websites I have built.</a><br />
                <a href="https://github.com/glob-bruh/PythonScripts">More Python projects I have built.</a><br />
                <a href="https://github.com/glob-bruh?tab=repositories&type=source">All of my projects.</a>
            </i></p>
        </article>
{% include homepageFooter.html %}
