<!DOCTYPE html>
<head>
    <title>GlobBruh Blog</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/blog/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <header>
        <div id="headArt">
  ▄████  ██▓     ▒█████   ▄▄▄▄    ▄▄▄▄    ██▀███   █    ██  ██░ ██ 
 ██▒ ▀█▒▓██▒    ▒██▒  ██▒▓█████▄ ▓█████▄ ▓██ ▒ ██▒ ██  ▓██▒▓██░ ██▒
▒██░▄▄▄░▒██░    ▒██░  ██▒▒██▒ ▄██▒██▒ ▄██▓██ ░▄█ ▒▓██  ▒██░▒██▀▀██░
░▓█  ██▓▒██░    ▒██   ██░▒██░█▀  ▒██░█▀  ▒██▀▀█▄  ▓▓█  ░██░░▓█ ░██ 
░▒▓███▀▒░██████▒░ ████▓▒░░▓█  ▀█▓░▓█  ▀█▓░██▓ ▒██▒▒▒█████▓ ░▓█▒░██▓
░▒   ▒ ░ ▒░▓  ░░ ▒░▒░▒░ ░▒▓███▀▒░▒▓███▀▒░ ▒▓ ░▒▓░░▒▓▒ ▒ ▒  ▒ ░░▒░▒
    ░   ░ ░ ░ ▒  ░  ░ ▒ ▒░ ▒░▒   ░ ▒░▒   ░   ░▒ ░ ▒░░░▒░ ░ ░  ▒ ░▒░ ░
░ ░   ░   ░ ░   ░ ░ ░ ▒   ░    ░  ░    ░   ░░   ░  ░░░ ░ ░  ░  ░░ ░
        ░     ░  ░    ░ ░   ░       ░         ░        ░      ░  ░  ░
                                ░       ░                           
        </div>
    </header>