<!DOCTYPE html>
<html>
    <head>
        <title>HOME | GlobBruh</title>
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="index.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="application-name" content="GlobBruh">
        <meta name="description" content="The GlobBruh Homepage">
        <meta property="og:title" content="GlobBruh">
        <meta property="og:description" content="The GlobBruh Homepage">
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/34488272">
        <meta property="og:image:type" content="image/png">
    </head>
    <body>
        <header>
            <h1 id="titleText">GlobBruh</h1>
            <img src="https://avatars.githubusercontent.com/u/34488272">
            <p title="IN ORDER: Bash, C#, CSS, .NET, HTML, JavaScript, Markdown, MySQL, PHP, PowerShell, Python.">
                <img id="headIcon" src="https://skillicons.dev/icons?i=bash,cs,css,dotnet,html,js,md,mysql,php,powershell,py" />
            </p>
            <p title="IN ORDER: Arduino, Azure, Debian, Docker, Git, Kali Linux, Nginx, Raspberry Pi, VSCodium, Windows.">
                <img id="headIcon" src="https://skillicons.dev/icons?i=arduino,azure,debian,docker,git,kali,nginx,raspberrypi,vscodium,windows" />
            </p>
            <hr>
            <div id="headerNav">
                <button onclick="window.location.href = '/'">HOME</button>
                <button onclick="window.location.href = '/projects.html'">PROJECTS</button>
                <button onclick="window.location.href = '/blog/bloghome.html'">BLOG and RESOURCES</button>
            </div>
        </header>