<!DOCTYPE html>
<html lang="en">
    <head>
        <title>gl0bSECURE</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="/index.css" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="application-name" content="GlobBruh">
        <meta name="description" content="The GlobBruh Homepage">
        <meta property="og:title" content="GlobBruh">
        <meta property="og:description" content="The GlobBruh Homepage">
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/34488272">
        <meta property="og:image:type" content="image/png">
        <meta name="darkreader-lock">
    </head>
    <body>
        <header>
            <div id="titleTextDiv">
                <img id="titleTextOne" src="https://readme-typing-svg.demolab.com/?font=Fira+Code&weight=500&size=75&pause=3000&color=070707&center=true&repeat=false&width=500&height=125&lines=gl0bSECURE" alt="gl0bSECURE">
                <img id="titleTextTwo" src="https://readme-typing-svg.demolab.com/?font=Fira+Code&weight=500&size=75&pause=3000&color=ffffff&center=true&repeat=false&width=500&height=125&lines=gl0bSECURE" alt="gl0bSECURE">
            </div>  
            <img id="titleLogo" src="https://avatars.githubusercontent.com/u/34488272" alt="gl0bSECURE Logo">
            <div id="headIcon">
                <img src="https://img.shields.io/badge/Android%20Studio-1976D2?logo=androidstudio&logoColor=fff" title="Android Studio">
                <img src="https://img.shields.io/badge/Arduino-00979D?style=flat&logo=Arduino&logoColor=white" title="Arduino">
                <img src="https://img.shields.io/badge/Bash-4EAA25?logo=gnubash&logoColor=fff" title="BASH">
                <img src="https://custom-icon-badges.demolab.com/badge/C%23-%23239120.svg?logo=cshrp&logoColor=white" title="C#">
                <img src="https://img.shields.io/badge/CSS-639?logo=css&logoColor=fff" title="CSS">
                <img src="https://img.shields.io/badge/Debian-A81D33?logo=debian&logoColor=fff" title="Debian">
                <img src="https://img.shields.io/badge/Docker-2496ED?logo=docker&logoColor=fff" title="Docker">
                <img src="https://img.shields.io/badge/Git-F05032?logo=git&logoColor=fff" title="Git">
                <img src="https://img.shields.io/badge/GitHub-%23121011.svg?logo=github&logoColor=white" title="GitHub">
                <img src="https://img.shields.io/badge/HTML-%23E34F26.svg?logo=html5&logoColor=white" title="HTML">
                <img src="https://img.shields.io/badge/JavaScript-F7DF1E?logo=javascript&logoColor=000" title="JavaScript">
                <img src="https://img.shields.io/badge/KDE%20Plasma-1D99F3?logo=kdeplasma&logoColor=fff" title="KDE Plasma">
                <img src="https://img.shields.io/badge/Kali%20Linux-557C94?logo=kalilinux&logoColor=fff" title="Kali Linux">
                <img src="https://img.shields.io/badge/Linux-FCC624?logo=linux&logoColor=black" title="Linux">
                <img src="https://img.shields.io/badge/macOS-000000?logo=apple&logoColor=F0F0F0" title="macOS">
                <img src="https://img.shields.io/badge/Markdown-%23000000.svg?logo=markdown&logoColor=white" title="Markdown">
                <img src="https://custom-icon-badges.demolab.com/badge/MS%20Azure-0089D6?logo=msazure&logoColor=white" title="Microsoft Azure">
                <img src="https://img.shields.io/badge/MySQL-4479A1?logo=mysql&logoColor=fff" title="MySQL">
                <img src="https://img.shields.io/badge/.NET-512BD4?logo=dotnet&logoColor=fff" title=".NET">
                <img src="https://img.shields.io/badge/nginx-009639?logo=nginx&logoColor=fff" title="Nginx">
                <img src="https://img.shields.io/badge/php-%23777BB4.svg?&logo=php&logoColor=white" title="PHP">
                <img src="https://custom-icon-badges.demolab.com/badge/PowerShell-5391FE?logo=powershell-white&logoColor=fff" title="PowerShell">
                <img src="https://img.shields.io/badge/Python-3776AB?logo=python&logoColor=fff" title="Python">
                <img src="https://img.shields.io/badge/Raspberry%20Pi-C51A4A?style=flat&logo=Raspberry-Pi" title="Raspberry Pi">
                <img src="https://img.shields.io/badge/Selenium-43B02A?logo=selenium&logoColor=fff" title="Selenium">
                <img src="https://custom-icon-badges.demolab.com/badge/Visual%20Studio-5C2D91.svg?&logo=visualstudio&logoColor=white" title="Visual Studio">
                <img src="https://custom-icon-badges.demolab.com/badge/Windows-0078D6?logo=windows11&logoColor=white" title="Windows">
            </div>
            <hr>
            <div id="headerNav">
                <button onclick="window.location.href = '/'">HOME</button>
                <button onclick="window.location.href = '/projects/'">PROJECTS</button>
                <button onclick="window.location.href = '/blog/'">BLOG & RESOURCES</button>
                <button onclick="window.location.href = 'https://aero.beyondgone.xyz'">AERO</button>
            </div>
            <noscript>
                <div id="noScriptContatiner">
                    <p class="noScripting">NOTE:</p>
                    <p class="noScripting">This website requires Javascript, and you are likely seeing this because an extension you have is blocking this website from using JavaScript or your browser does not support it.</p>
                    <p class="noScripting">JavaScript is required to perform the following actions:</p>
                    <p class="noScripting">- Make buttons clickable -</p>
                    <p class="noScripting">- Load the configurations to build the projects page -</p>
                    <p class="noScripting">Please enable JavaScript in your browser settings (or adjust any extensions that may be blocking it) and reload the page.</p>
                </div>
            </noscript>
        </header>