<footer>
    <div id="footerSites">
        <img src="/asset/MAIL.png" onclick="window.open('mailto:globbruh@proton.me')">
        <img src="/asset/GH.png" onclick="window.open('https://github.com/glob-bruh')">
        <img src="/asset/HTB.png" onclick="window.open('https://app.hackthebox.com/users/279213')">
        <img src="/asset/THM.png" onclick="window.open('https://tryhackme.com/p/globbruh')">
        <img src="/asset/BTLO.png" onclick="window.open('https://blueteamlabs.online/home/user/4b21f74518ba720c207d68')">
    </div>
    <p>Website developed from scratch by me.<br />&copy; GlobBruh | 2022 - Present</p>
    <p>This website is <a href="https://github.com/glob-bruh/glob-bruh.github.io">open-source</a> for transparency.</p>
</footer>
<script src="script.js"></script>
</body>
</html>