<!DOCTYPE html>
<html>
    <head>
        <title>GLOBBRUH ||| OLDSCHOOL</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, width=device-width">
        <link rel="stylesheet" href="oldschool.css" type="text/css">
        <meta name="application-name" content="GlobBruh">
        <meta name="description" content="GL0BBRUH">
        <meta property="og:title" content="GL0BBRUH">
        <meta property="og:description" content="[ th3 gl0bbruh hom3page ]">
        <meta property="og:image" content="https://avatars.githubusercontent.com/u/34488272">
        <meta property="og:image:type" content="image/png">
    </head>
    <body>
        <div id="content">
            <img src="/asset/oldschoolBanner.png" id="bannerImg">
            <div class="marquee">
                <p>&gt;&gt;&gt; chilling - other cool projects in the works &lt;&lt;&lt;</p>
            </div>
            <div id="linkDiv">
                <p>[<a href="/oldschool/">h0me</a>]</p>
                <p>[<a href="/blog/bloghome.html">b1og</a>]</p>
                <p>[<a href="experiments.html">eXperimental</a>]</p>
                <p>[<a href="radio.html">r@dio</a>]</p>
                <p>[<a href="/">n3w school</a>]</p>
            </div>
            <hr>