#terminal > input[type="text"] {
    color: darkmagenta;
    width: 100%;
    background-color: transparent;
    border-color: transparent;
    outline: 0px;
    font-family: "Hack";
}

#terminal > input[type="text"]:focus {
    border-color: transparent;
}

#terminal > textarea {
    color: magenta;
    resize: none;
    width: 100%;
    height: 500px;
    outline: 0px;
    font-family: "Hack";
    background-color: transparent;
    border-color: transparent;
}